[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.2.0
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "lib/@uniswap/v3-core"]
	path = lib/@uniswap/v3-core
	url = https://github.com/Uniswap/v3-core
	branch = 0.8
[submodule "lib/@uniswap/v3-periphery"]
	path = lib/@uniswap/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
	branch = 0.8
[submodule "lib/@zkbob"]
	path = lib/@zkbob
	url = https://github.com/zkbob/zkbob-contracts
[submodule "lib/quickswapv3-interfaces"]
	path = lib/quickswapv3-interfaces
	url = https://github.com/AlexSaplin/quickswapv3-interfaces
